<md-list>
    <md-list-item ng-repeat="edu in educations" class="md-3-line md-long-text" itemscope="" itemtype="http://data-vocabulary.org/Organization" > <!-- ng-click="openSkills(edu.skills, $event);"> -->
        <img class="md-avatar" ng-src="{{ $root.imgHost + 'img/' + edu.image.name}}" alt="{{edu.name}}">
        <div class="md-list-item-text">
            <h3>{{edu.name}} | {{edu.short_description}}</h3>
            <div layout layout-sm="column">
                <md-button class="md-raised fk-mini md-primary md-hue-1">
                    {{edu.year_in | date:'yyyy'}}-{{edu.year_out | date:'yyyy'}}
                </md-button>
                <md-button class="md-raised fk-mini md-primary md-hue-3" itemprop="locality">
                    {{edu.place}}
                </md-button>
            </div>
            <p>{{edu.diploma}}</p>
            <p ng-if="edu.extra_info">
                <strong>Extra-curiculars: </strong>
                {{edu.extra_info}}
            </p>
        </div>
        <md-icon md-font-library="material-icons" ng-click="openWebsite(edu.website)" itemprop="url" class="md-secondary" aria-label="Website">link</md-icon>
    </md-list-item>
</md-list>
