<md-list>
    <md-list-item ng-repeat="edu in educations" class="md-3-line md-long-text" itemscope="" itemtype="http://data-vocabulary.org/Organization">
        <img class="md-avatar" ng-src="{{ $root.imgHost }}/{{edu.image.path + edu.image.name}}" alt="{{edu.name}}">
        <div class="md-list-item-text">
            <h3>{{edu.name}} | {{edu.short_description}}</h3>
            <div layout layout-sm="column">
                <md-button class="md-raised fk-mini md-primary md-hue-2" href="{{edu.website}}" target="_blank" itemprop="url">
                    {{'education.website' | translate}}
                </md-button>
                <md-button class="md-raised fk-mini md-primary md-hue-1">
                    {{edu.year_in | date:'yyyy'}}-{{edu.year_out | date:'yyyy'}} 
                </md-button>
                <md-button class="md-raised fk-mini md-primary md-hue-3" itemprop="locality">
                    {{edu.place}}
                </md-button>
            </div>
            <p>{{edu.diploma}}</p>
            <p ng-if="edu.extra_info">
                <strong>Extra-curiculars: </strong>
                {{edu.extra_info}}
            </p>
        </div>
    </md-list-item>
</md-list>