@import 'common/_functions';
@import 'common/_variables';

/* ==============================core=================================== */
body{
    //background-color: $background-color;
    //color: $font-color;
    font-family: opensans-regular;
}
a{
    text-decoration: none;
    &:hover, &:active, &:focus{
        text-decoration: underline;
    }
}

footer {
    font-size: 10px;
    .footer-info div{
        padding: 10px;
    }
}

/* ==============================specific code=================================== */