@import 'common/_functions';
@import 'common/_variables';

/* ==============================core=================================== */
/*body{
    background-color: $background-color;
    color: $font-color;
    font-family: opensans-regular;
}
a{
    text-decoration: none;
    &:hover, &:active, &:focus{
        text-decoration: underline;
    }
}*/

/* ==============================specific code=================================== */