@import 'common/_variables';
@import 'common/_mixins';

/* ==============================core=================================== */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0;
  padding: 0;
}

/* ==============================
    Core
=================================== */
md-list{
    &.list-button-left {
    md-list-item{
      min-height: 32px;
      .md-button {
        color: inherit;
        font-weight: bold;
        text-align: left;
        md-icon {
          vertical-align: middle;
          display: inline-block;
          width: 32px;
          height: 32px;
          font-size: 32px;
        }
      }
    }
  }
}

.md-icon-button img {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

/* ==============================
    Specific Code
=================================== */
.angular-google-map-container { height: 400px; }

/**TO BE REMOVED **/
.logo {
    box-shadow: 0 0 4px 0 #333;
    margin: 4px 2px;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    border-radius: 50%;
}

.spinner{
    background: url(../img/icons/spinner.gif) no-repeat center center;
    display: block;
    width:100px;
    height:100px;
}

.spinner-hide{
    visibility: hidden;
}


.panel-edu {
    border: 0;
    box-shadow: none;
    .alert {
        margin-bottom: 0;
    }
}

.map-canvas { 
    height: 400px;
}