@import 'common/variables';
@import 'common/mixins';

/* ==============================core=================================== */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* ==============================
    Core
=================================== */
md-list {
  &.list-button-left {
    md-list-item {
      min-height: 32px;

      .md-button {
        &.md-button-left {
          text-align: left;
          color: inherit;
          font-weight: bold;
        }
      }
    }
  }
}

md-input-container {
  display: flex;
}

md-toolbar {
  h1 {
    margin: auto;
  }
}

iframe {
  &[id^='oauth2relay'] { position: fixed !important; } // sass-lint:disable-line no-important
}

/* ==============================
    Specific Code
=================================== */
.angular-google-map-container { height: 400px; }

.md-button {
  &.fk-mini {
    min-height: 20px;
    line-height: 20px;
    font-size: 10px;
  }
}

.spinner {
  display: block;
  background: url('../img/icons/spinner.gif') no-repeat center center;
  width: 100px;
  height: 100px;
}

.spinner-hide {
  visibility: hidden;
}
