<md-bottom-sheet class="md-list md-has-header">
    <md-subheader>Informations</md-subheader>
    <md-list>
        <md-item>
            <md-button aria-label="PDF" ng-click="listItemClick($index)">
                EMAIL
            </md-button>
            <md-button aria-label="PDF" ng-click="listItemClick($index)">
                PHONE
            </md-button>
            <md-button aria-label="PDF" ng-click="listItemClick($index)">
                LINKEDIN
            </md-button>
            <md-button aria-label="PDF" ng-click="listItemClick($index)">
                CV.PDF
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>