<!-- map au top + list interests + motiv dans une card material -->
<div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
<input type="search" class="form-control" ng-model="q" placeholder="filter interest..." />
<ul class="list-group">
    <li class="list-group-item category-item" ng-repeat-start="cat in categories">
    <h4>{{cat.name}}</h4>
    </li>
    <li class="list-group-item interest-item" ng-repeat="interest in cat.interests | filter:q as resultInterets" ng-repeat-end>
        <b>{{interest.name}}</b>
        <br/>
        <span class="secondary-text-b">{{interest.description}}</span>
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item category-item"><h4>Motivation</h4></li>
</ul>
<div class="container-fluid card">
    <p>
        I'm currently working as a <b>web&nbsp;project director&nbsp;</b>in the web/mobile domain located in <span class="bold">Vietnam.</span></p>
    <br>
    <p>
        I am very excited by the potential of emerging mobile technologies since my first internships.
        I have been exploring this domain since 2005 when I was hired as a .NET/C# developper at <span class="bold">Phonereader</span>.
        My contributions on their mobile web rendering engine and the development of websites gave me a first glimpse of the possibilities of this media.
        At the same time I was able to improve my technical and creative skills, such as conception, development and release of mobile and web services.
    </p>
    <p>
        Then, thanks to my three years experience at <span class="bold">Backelite</span>, one of the leader in mobile service development in Europe, Idiscovered mobile web's full potential and became an expert in this niche. As a project leader and technical consultant, I had the opportunity to collaborate with some leading companies including Dailymotion, Allociné, Pages Jaunes, Eurosport, ...
        <br>
        Each task as a project leader taught me new aptitudes. For instance, in conception: to be creative, to accept multiple points of view and to be aware of costs and delays; and in production: how to deal with a team and to handle crises. In my position as a technical consultant, I was able to keep updated on recent technological innovations and to learn a great deal about the whole chain of software production.
    </p>
    <p>
        Nowadays, my technical background allows me to understand effectively most of environment problematics, to be reactive in any situations, and to absorb easily any new knowledge. On the other hand, three years as a project leader, increased my capacity to be organised, precise, adaptable and independent.<br>
        <span>For more details on my professional background, please visit the <a href="/experience">experience section</a>.<span>
    </span></span></p>
    <br>
    <p>
        Furthermore, I've always been attracted by other countries and cultures. As my passion for <a href="/interests">travel</a> attests, I'm constantly looking for new experiences and to discover new places and people. My goal for the next 10 years is to settle in Asia in order to establish an international career. I'm particularly attracted to Southeast Asia, more specifically Vietnam. If I were given the opportunity to work in Vietnam, I would learn Vietnamese as soon as I am established in the country in order to be integrated into the population as fully as possible. During this period I'd like to discover new technical skills, continue to develop my abilities, be responsible of one or more products, and lead a team of engineers.
    </p>
    <br>
    <p>
        Regarding these elements, I invite you to browse this site and I hope my profile will pick your interest.
    </p>
</div>