/* ==============================variables=================================== */
$font-color: #fff;
$background-color: #000;

$navbar-border-radius: 0px;
$icon-font-path: "../../../vendor/bootstrap-sass-official/assets/fonts/bootstrap/"