<md-input-container flex>
    <label>{{'skill.filter_placeholder' | translate}}</label>
    <input type="search" ng-model="q" />
</md-input-container>
<md-list>
    <md-subheader class="md-no-sticky" ng-repeat-start="cat in categories | filter:q as resultCats">{{cat.name}}</md-subheader>
    <md-list-item class="md-2-line" ng-repeat="skill in cat.skills | filter:q as resultSkills">
        <div class="md-list-item-text" layout="column">
            <div layout>
                <h3>{{skill.name}}<span ng-if="skill.description"> | {{skill.description}}</span></h3>
            </div>
          <md-progress-linear ng-if="skill.level" md-mode="determinate" value="{{skill.level}}"></md-progress-linear>
        </div>
    </md-list-item>
    <md-divider ng-repeat-end></md-divider>
</md-list>
