<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-animate.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
 -->
<!-- build:js app/gairal.min.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- CORE START -->
<script src="app/app.js"></script>
<script src="app/app.constant.js"></script>
<!-- CORE END -->
<!-- DIRECTIVES START -->
<script src="app/main/img-preload/img-preload.directive.js"></script>
<script src="app/main/sharing/sharing.directive.js"></script>
<!-- DIRECTIVES END -->
<!-- ROOT CTRL START -->
<script src="app/main/gairal.service.js"></script>
<script src="app/main/gairal.controller.js"></script>
<!-- ROOT CTRL END -->

<!-- EXPERIENCE START -->
<script src="app/experience/experience.service.js"></script>
<script src="app/experience/experience.controller.js"></script>
<!-- EXPERIENCE END -->
<!-- SKILL START -->
<script src="app/skill/skill.service.js"></script>
<script src="app/skill/skill.controller.js"></script>
<!-- SKILL END -->
<!-- EDUCATION START -->
<script src="app/education/education.service.js"></script>
<script src="app/education/education.controller.js"></script>
<!-- EDUCATION END -->
<!-- INTEREST START -->
<script src="app/interest/interest.service.js"></script>
<script src="app/interest/travel.service.js"></script>
<script src="app/interest/motivation.controller.js"></script>
<script src="app/interest/interest.controller.js"></script>
<!-- INTEREST END -->

<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>