<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-animate.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
 -->
<!-- build:js app/gairal.min.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- CORE START -->
<script src="app/app.js"></script>
<script src="app/app.constant.js"></script>
<!-- CORE END -->
<!-- DIRECTIVES START -->
<script src="app/main/loader/loader.directive.js"></script>
<script src="app/main/sharing/sharing.directive.js"></script>
<!-- DIRECTIVES END -->
<!-- ROOT CTRL START -->
<script src="app/main/gairal.service.js"></script>
<script src="app/main/gairal.controller.js"></script>
<!-- ROOT CTRL END -->

<!-- EXPERIENCE START -->
<script src="app/experience/experience.service.js"></script>
<script src="app/experience/experience.controller.js"></script>
<!-- EXPERIENCE END -->
<!-- SKILL START -->
<script src="app/skill/skill.service.js"></script>
<script src="app/skill/skill.controller.js"></script>
<!-- SKILL END -->
<!-- EDUCATION START -->
<script src="app/education/education.service.js"></script>
<script src="app/education/education.controller.js"></script>
<!-- EDUCATION END -->
<!-- INTEREST START -->
<script src="app/interest/interest.service.js"></script>
<script src="app/interest/interest.controller.js"></script>
<!-- INTEREST END -->

<!-- endbuild -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20924025-2', 'auto');
  ga('send', 'pageview');

</script>