/* ==============================variables=================================== */
$font-color: #000;
$background-color: #000;
$navbar-border-radius: 0;
$primary-color: rgb(96, 125, 139);
$accent-color: rgb(68, 138, 255);
