/* ==============================variables=================================== */
$font-color: #000;
$background-color: #000;
$navbar-border-radius: 0px;
$primary-color: rgb(233,30,99);
$accent-color: rgb(68,138,255);