
        <!-- END MAIN CONTENT -->
        </div>
        <footer layout-align="center">
            <!--md-bottom-sheet class="md-grid">
                <md-list>
                <md-item ng-repeat="item in items">

                    <md-button class="md-grid-item-content" aria-label="{{item.name}}" ng-click="listItemClick($index)">
                    <div class="md-icon-container">
                    <md-inline-grid-icon icon="{{item.icon}}"></md-inline-grid-icon>
                    </div>
                    <p class="md-grid-text"> {{ item.name }} </p>
                    </md-button>

                </md-item>
                </md-list>
            </md-bottom-sheet-->
            <div layout="row" class="footer-info">
                <div>
                    gairal.com
                </div>
                <div flex>
                </div>
                <div>
                    v@@appVersion
                </div>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-animate.min.js"></script>
        <!--script src="vendor/angular/angular.js"></script>
        <script src="vendor/angular-route/angular-route.js"></script>
        <script src="vendor/angular-aria/angular-aria.js"></script>
        <script src="vendor/angular-animate/angular-animate.js"></script-->
        <!-- build:js assets/js/gairal.min.js -->
        <script src="vendor/hammerjs/hammer.js"></script>
        <script src="vendor/angular-material/angular-material.js"></script>

        <script src="assets/js/common/config.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/services/services.js"></script>
        <script src="assets/js/controllers/header.js"></script>
        <script src="assets/js/filters/filters.js"></script>
        <script src="assets/js/directives/directives.js"></script>

        <!-- endbuild -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>