
        <!-- END MAIN CONTENT -->
        </div>
        <footer layout-align="center">
            <div layout="row" class="footer-info">
                <div>
                    gairal.com
                </div>
                <div flex>
                </div>
                <div>
                    v@@appVersion
                </div>
            </div>
        </footer>
        @@include('scripts.tmpl')
    </body>
</html>