<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" itemscope itemtype="http://schema.org/Person"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" itemscope itemtype="http://schema.org/Person"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" itemscope itemtype="http://schema.org/Person"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js" ng-app="Gairal" ng-controller="GairalCtrl" itemscope itemtype="http://schema.org/Person"> <!--<![endif]-->
        <!--[if lt IE 8]>
        <script>
            window.location.href = 'static/browserHappy/browserHappy.html';
        </script>
        <![endif]-->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@@title - {{title()}}</title>
        <meta name="description" content="Frank Gairal online C.V. - In position in HCMC">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta itemprop="name" content="Frank Gairal">
        <meta itemprop="image" content="img/og-img.png">
        <meta itemprop="description" content="Frank Gairal online C.V. - In position in HCMC">

        <meta property="og:locale" content="en_EN">
        <meta property="og:type" content="website">
        <meta property="og:title" content="@@title - {{title()}}">
        <meta property="og:site_name" content="Frank Gairal">
        <meta property="og:image" content="img/og-img.png">
        <meta property="og:description" content="Frank Gairal online C.V. - In position in HCMC">
        <meta property="og:url" content="http://frank.gairal.com/">

        <meta name="application-name" content="Frank Gairal"> 
        <meta name="msapplication-TileColor" content="#F27405">
        <meta name="msapplication-TileImage" content="img/ogImg.png">        
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!--favicon in base64-->
        <link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH3QEDAB0Mu3sDOAAAAJNJREFUSMdjjC3OZqAZmMo4i4mmpjMwMDDR1HRaWQA3nSYWIJtOfQvQTGdgYGDBVNRWX0K2BR8Z0PXSMBWNWjBiLGAkvrBDS75VjT2YqZ6aPiDG9NFIpqYFRIY4JiC2sMMsxT7W3cJUxt+kNhrJoxZQHbAQk9So6QOyMxRRFlDddBQLaGE6wgIamQ61gHamMzAwAABxTx/OYLAzeAAAAABJRU5ErkJggg==" type="image/x-icon">
        <link rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon.png" />
        <!-- build:css assets/css/gairal.min.css -->
        <link rel="stylesheet" href="vendor/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <!-- endbuild -->
    </head>
    <body>
        <header>
            @@include('nav.tmpl')
        </header>
        <!-- START MAIN CONTENT -->
        <div class="container-fluid content">