<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>

        <!--[if lt IE 8]>
        <script>
            window.location.href = 'static/browserHappy/browserHappy.html';
        </script>
        <![endif]-->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@@title</title>
        <meta name="description" content="">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta property="og:locale" content="fr_FR">
        <meta property="og:type" content="website">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="">

        <!--favicon in base64-->
        <link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH3QEDAB0Mu3sDOAAAAJNJREFUSMdjjC3OZqAZmMo4i4mmpjMwMDDR1HRaWQA3nSYWIJtOfQvQTGdgYGDBVNRWX0K2BR8Z0PXSMBWNWjBiLGAkvrBDS75VjT2YqZ6aPiDG9NFIpqYFRIY4JiC2sMMsxT7W3cJUxt+kNhrJoxZQHbAQk9So6QOyMxRRFlDddBQLaGE6wgIamQ61gHamMzAwAABxTx/OYLAzeAAAAABJRU5ErkJggg==" type="image/x-icon">
        <link rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon.png" />
        <!-- build:css assets/css/gairal.min.css -->
        <link rel="stylesheet" type="text/css" href="vendor/angular-material/angular-material.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/angular-material/themes/grey-theme.css">
        <link rel="stylesheet" href="assets/css/main.css" />


        <!-- endbuild -->
        @@js
    </head>
    <body ng-app="Gairal">
        <header>
            <div ng-controller="HeaderCtrl" layout="column" layout-padding>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                <h4>test</h4>
                <md-tabs md-selected="data.selectedIndex">
                    <md-tab id="tab1" aria-controls="tab1-content">
                        Home
                    </md-tab>
                    <md-tab id="tab3" aria-controls="tab3-content">
                        Account
                    </md-tab>
                </md-tabs>
            </div>
        </header>

        <!-- START MAIN CONTENT -->
        <div class="content" layout="column">